body{
    letter-spacing: .05em;
    line-height: 1.4em;
    margin: 0;
    font-family: 'Roboto', sans-serif;
}

body a {
    text-decoration:none;
}

body img {
    border:0;
    border-style: none;
    outline: 0;
}

a {
    text-decoration: none;
    outline: 0;
}

*:focus {
    outline: 0;
}

h2{
    line-height: 1.6em;
}