@import 'https://fonts.googleapis.com/css?family=Roboto:400,500,700';

html {
    height: 100%;
}

#react-root {
    height: 100%;
}

body {
    height: calc(100% - 64px);
    letter-spacing: .05em;
    line-height: 1.4em;
    margin: 0;
    font-family: 'Roboto', sans-serif;
    background-color: #FAFAFA;
}
